@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
	:root {
	}
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-height: 100dvh;
	overflow-x: hidden;
}

.css-ox0w6b:last-child {
	flex-grow: 1;
}

.react-icons {
	vertical-align: middle;
}

.swiper > * {
	user-select: none;
}

.quick-transaction-carousel .swiper-slide:first-child {
	margin-left: 0rem;
	/* margin-left: -8rem; */
}

.swiper-slide {
	animation: slide-up-fade-in 1.5s ease-out forwards;
	animation-delay: 500ms;
}

.swiper-parent .swiper-slide:nth-child(1) {
	animation-delay: 500ms;
}

.swiper-parent .swiper-slide:nth-child(2) {
	animation-delay: 1000ms;
	/* animation-duration: 2.5s; */
}

@keyframes slide-up-fade-in {
	0% {
		opacity: 0.7;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.quick-transaction-carousel .swiper-slide {
	max-width: max-content;
	margin-right: 10px;
}

.quick-transaction-carousel .swiper-wrapper {
	overflow-x: visible;
}

/* .swiper-slide:last-child {
	margin-right: 1.5rem;
} */

/* .swiper-slide:first-child {
	margin-left: 1.5rem;
}

/* .swiper-slide:last-child {
	margin-right: 30rem;
} */

/* .swiper-wrapper {
	margin-right: 3rem;
} */
