@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
	:root {
	}
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100dvh;
	overflow-x: hidden;
}

.react-icons {
	vertical-align: middle;
}

.swiper-slide:first-child {
	margin-left: -3rem;
}
.quick-transaction-carousel .swiper-slide:first-child {
	margin-left: 0rem;
	/* margin-left: -8rem; */
}

.swiper-slide {
	transition: all;
}

.quick-transaction-carousel .swiper-slide {
	max-width: max-content;
	margin-right: 10px;
}

.quick-transaction-carousel .swiper-wrapper {
	overflow-x: visible;
}

/* .swiper-slide:last-child {
	margin-right: 1.5rem;
} */

/* .swiper-slide:first-child {
	margin-left: 1.5rem;
}

/* .swiper-slide:last-child {
	margin-right: 30rem;
} */

/* .swiper-wrapper {
	margin-right: 3rem;
} */
